In [3]:
import pandas as pd
import os

In [4]:
open_weather_dir = 'E:/UR_Files/UR_Cap_Stone/github/Capstone_MacroX/Data_Openweathermap/raw_data/Delhi_raw.csv'
open_weather_Delhi = pd.read_csv(open_weather_dir) 
Delhi_20_21 = open_weather_Delhi[open_weather_Delhi.Date.between('2020-11-24','2021-12-31')]

In [5]:
Delhi_20_21

,Unnamed: 0,City,Lat,Lng,Date,CO,NO2,SO2,PM2_5
0,0,Delhi,28.564,77.145,2020-11-24,3831.862500,92.707500,59.962500,426.015000
1,1,Delhi,28.564,77.145,2020-11-25,2827.723750,85.681667,81.340417,318.519583
2,2,Delhi,28.564,77.145,2020-11-26,1978.795833,63.533750,61.284167,137.825417
3,3,Delhi,28.564,77.145,2020-11-27,1642.783333,55.179583,39.547917,133.642917
4,4,Delhi,28.564,77.145,2020-11-28,2540.667917,73.030833,41.565000,198.677500
...,...,...,...,...,...,...,...,...,...
398,398,Delhi,28.564,77.145,2021-12-27,5790.074167,96.963333,135.878333,421.822917
399,399,Delhi,28.564,77.145,2021-12-28,9031.135833,101.418750,181.317917,767.676667
400,400,Delhi,28.564,77.145,2021-12-29,3472.488333,76.913750,62.972500,335.852500
401,401,Delhi,28.564,77.145,2021-12-30,4674.672500,89.023750,66.460417,326.000417
402,402,Delhi,28.564,77.145,2021-12-31,3734.509167,79.112500,46.164583,305.973750

In [6]:
sate_NO2_dir = 'E:/UR_Files/UR_Cap_Stone/github/Capstone_MacroX/processed_satellite_data/processed_satellite_NO2.csv'
sate_NO2 = pd.read_csv(sate_NO2_dir)
sate_NO2_20_21 = sate_NO2[sate_NO2.date.between('2020-11-24','2021-12-31')]
sate_NO2_20_21['NewDelhi']
# sate_NO2[sate_NO2['['NewDelhi']

1058    9.615744e+15
1059    1.381297e+16
1060    9.999100e+15
1061    8.749730e+15
1062    7.059130e+15
            ...
1456    6.381238e+15
1457    1.327145e+16
1458    1.140000e+16
1459    8.085128e+15
1460    1.370000e+16
Name: NewDelhi, Length: 403, dtype: float64

In [7]:
sate_SO2_dir = 'E:/UR_Files/UR_Cap_Stone/github/Capstone_MacroX/processed_satellite_data/processed_satellite_SO2.csv'
sate_SO2 = pd.read_csv(sate_SO2_dir)
sate_SO2_20_21 = sate_SO2[sate_SO2.date.between('2020-11-24','2021-12-31')]
missing_sate_SO2_date = list(set(Delhi_20_21.Date)-set(sate_SO2_20_21.date))
missing_sate_SO2_date

['2021-12-07', '2021-03-30']

In [8]:
missing_sate_SO2_date_df =  pd.DataFrame(columns = sate_SO2.columns)
missing_sate_SO2_date_df['date'] = missing_sate_SO2_date
sate_SO2_20_21 = sate_SO2_20_21.append(missing_sate_SO2_date_df)
sate_SO2_20_21=sate_SO2_20_21.sort_values(by='date')

In [9]:
from sklearn.impute import KNNImputer
from sklearn.preprocessing import MinMaxScaler

#Define a subset of the dataset
df_knn = sate_SO2_20_21.filter(sate_SO2_20_21.columns[1:].tolist(), axis=1).copy()

# Define scaler to set values between 0 and 1
df_knn = pd.DataFrame(df_knn, columns = df_knn.columns)

# Define KNN imputer and fill missing values
knn_imputer = KNNImputer(n_neighbors=5, weights='uniform', metric='nan_euclidean')
df_knn_imputed_SO2 = pd.DataFrame(knn_imputer.fit_transform(df_knn), columns=df_knn.columns)
df_knn_imputed_SO2.insert(loc=0, column='date', value=sate_SO2_20_21.date.tolist())
sate_SO2_20_21 = df_knn_imputed_SO2.copy()

In [10]:
sate_SO2_20_21

,date,Agartala,Agra,Aizwal,Amritsar,Asansol,Aurangabad,Bareilly,Belgaum,Bengaluru,...,Pondicherry,Prayagraj,Pune,Shillong,Solapur,Srinagar,Thiruvananthapuram,Varanasi,Vijaywada,Visakhapatnam
0,2020-11-24,0.260,1.279956,0.008336,-0.075123,0.156,-0.158836,-0.091393,0.003059,-0.000963,...,0.072000,0.083793,-0.027155,-0.114,0.189284,-0.170000,-0.070000,0.124,0.096,0.134176
1,2020-11-25,0.230,-0.086596,-0.032201,0.084499,-0.320,0.025056,0.039221,0.039940,0.118984,...,0.204667,0.079464,0.156025,0.130,0.052638,0.006336,0.050759,-1.070,-2.260,-0.159728
2,2020-11-26,0.302,-0.123568,-0.097643,0.260420,0.282,0.001917,-0.077301,-0.018568,0.175942,...,0.032667,0.089774,-0.190000,0.200,0.006840,0.159941,0.131156,0.055,0.176,0.072416
3,2020-11-27,-0.040,-0.128888,0.084358,0.046086,0.382,0.062712,0.023613,0.056167,0.080988,...,-0.193333,-0.420496,-0.062272,-0.220,-0.054670,-0.002306,0.087174,0.116,0.046,0.131300
4,2020-11-28,0.108,0.322158,0.075909,0.361634,0.364,0.070829,0.453239,0.061705,0.065004,...,0.189333,0.419341,0.072094,-0.084,0.067370,-0.009881,-0.004922,-0.325,0.206,-0.150000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
398,2021-12-27,1.110,-0.029605,-0.014797,0.018652,0.558,-0.029719,0.310228,0.169279,-0.309995,...,0.222000,0.105426,-0.032602,0.500,0.161430,0.035228,0.357881,-0.031,0.340,0.058357
399,2021-12-28,0.120,0.104266,-0.008177,0.595309,0.028,0.001688,0.047727,0.031287,0.074851,...,0.190000,0.027471,0.079441,0.226,0.711104,-0.320253,0.032325,0.213,0.138,0.065290
400,2021-12-29,-0.008,-0.180300,0.126694,-0.070379,0.038,0.238561,0.132934,-0.105507,-0.059065,...,0.023333,-0.017506,0.090599,-0.006,-0.081454,0.185126,0.088772,0.015,0.076,0.055292
401,2021-12-30,0.410,0.021316,-0.005128,0.137906,-0.120,0.107622,0.040624,0.030511,0.062984,...,0.082000,0.325083,-0.014061,-0.268,0.052179,-0.032352,0.042348,0.159,0.156,0.075271
402,2021-12-31,-0.044,-0.006516,0.359879,0.172161,0.236,0.011126,-0.094506,-0.005252,0.071994,...,0.185333,0.084960,0.020905,0.080,-0.231870,-0.029896,-0.150000,0.055,0.760,0.096433

In [11]:
Delhi_NO2 = pd.DataFrame(columns = ['date','open_NO2','sate_NO2'])
Delhi_NO2['open_NO2'] = list(Delhi_20_21['NO2'])
Delhi_NO2['date'] = list(Delhi_20_21['Date'])
Delhi_NO2['sate_NO2'] = list(sate_NO2_20_21['NewDelhi'])

Delhi_SO2 = pd.DataFrame(columns = ['date','open_SO2','sate_SO2'])
Delhi_SO2['open_SO2'] = list(Delhi_20_21['SO2'])
Delhi_SO2['date'] = list(Delhi_20_21['Date'])
Delhi_SO2['sate_SO2'] = list(sate_SO2_20_21['NewDelhi'])

In [12]:
Delhi_NO2

           date    open_NO2      sate_NO2
0    2020-11-24   92.707500  9.615744e+15
1    2020-11-25   85.681667  1.381297e+16
2    2020-11-26   63.533750  9.999100e+15
3    2020-11-27   55.179583  8.749730e+15
4    2020-11-28   73.030833  7.059130e+15
..          ...         ...           ...
398  2021-12-27   96.963333  6.381238e+15
399  2021-12-28  101.418750  1.327145e+16
400  2021-12-29   76.913750  1.140000e+16
401  2021-12-30   89.023750  8.085128e+15
402  2021-12-31   79.112500  1.370000e+16

[403 rows x 3 columns]

In [11]:
file_dir = "E:/UR_Files/UR_Cap_Stone/github/Capstone_MacroX/Missing Value/Cluster Fill/" 
DelhiList = []
for filename in os.listdir(file_dir):
    if filename.split('_')[1] == 'Delhi':
        DelhiList.append(filename)
for filename in DelhiList:
    cur_df = pd.read_csv(file_dir+filename)
    cur_df['date'] = pd.to_datetime(cur_df['From_Date'])
    cur_df_20_21 = cur_df[cur_df.date.between('2020-11-24','2021-12-31')]
    missing_date = []
    if len(cur_df_20_21) == len(Delhi_20_21):
        station = filename.split('_')[2].split('.')[0]
        Delhi_NO2[station] = list(cur_df_20_21['NO2'])
        Delhi_SO2[station] = list(cur_df_20_21['SO2'])
    else:
        missing_date.append(filename)

In [12]:
Delhi_SO2

,date,open_SO2,sate_SO2,"Alipur, Delhi - DPCC","Anand Vihar, Delhi - DPCC","Ashok Vihar, Delhi - DPCC","Aya Nagar, Delhi - IMD","Bawana, Delhi - DPCC","Burari Crossing, Delhi - IMD","Chandni Chowk, Delhi - IITM",...,"Pusa, Delhi - DPCC","Pusa, Delhi - IMD","R K Puram, Delhi - DPCC","Rohini, Delhi - DPCC","Shadipur, Delhi - CPCB","Sirifort, Delhi - CPCB","Sonia Vihar, Delhi - DPCC","Sri Aurobindo Marg, Delhi - DPCC","Vivek Vihar, Delhi - DPCC","Wazirpur, Delhi - DPCC"
0,2020-11-24,59.962500,-0.082,12.09,11.60,11.55,17.520000,12.68,11.7125,17.89,...,14.3700,14.37,14.80,5.38,8.56,12.40,8.95,7.78,14.45,10.29
1,2020-11-25,81.340417,0.062,16.48,7.89,15.64,13.525000,21.96,12.9825,21.79,...,29.3300,29.33,10.92,12.39,12.62,7.46,16.09,28.23,19.12,7.67
2,2020-11-26,61.284167,0.750,12.55,12.05,18.65,19.156667,15.92,12.8750,13.48,...,13.4500,13.45,15.85,10.24,5.24,5.21,11.02,6.30,43.72,13.92
3,2020-11-27,39.547917,-0.114,18.06,0.72,14.61,30.203333,29.25,15.2175,16.14,...,22.5125,9.72,17.91,13.88,9.72,8.10,11.11,9.30,24.02,14.01
4,2020-11-28,41.565000,0.800,19.28,1.19,21.67,17.115000,18.75,12.3925,4.00,...,17.8600,4.38,12.68,9.57,4.38,4.81,23.23,10.01,39.99,14.24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
398,2021-12-27,135.878333,0.134,7.27,27.59,12.21,13.543333,3.26,12.2225,19.68,...,5.8600,5.86,17.92,6.33,10.07,8.65,5.66,3.22,4.99,4.25
399,2021-12-28,181.317917,0.012,7.39,24.14,13.07,13.153333,3.61,11.0850,23.74,...,5.1400,5.14,15.51,6.54,9.56,11.15,8.27,2.58,5.13,4.95
400,2021-12-29,62.972500,-1.420,6.32,21.75,12.63,14.496667,2.39,11.8775,9.60,...,5.8300,5.83,20.30,6.17,6.29,10.56,4.61,4.26,3.82,4.47
401,2021-12-30,66.460417,-0.046,8.35,16.72,15.07,19.376667,3.49,16.7975,7.86,...,7.3000,7.30,32.74,7.12,6.94,11.00,6.55,6.43,4.30,4.20
402,2021-12-31,46.164583,1.010,6.15,21.23,13.23,17.100000,2.33,16.2425,18.71,...,6.3700,6.37,35.17,6.53,6.98,8.87,5.16,5.78,3.97,3.26

In [13]:
save_dir = 'E:/UR_Files/UR_Cap_Stone/github/Capstone_MacroX/combine_data_cluster/'
Delhi_SO2.to_csv(save_dir+'Delhi_SO2.csv',index=False)
Delhi_NO2.to_csv(save_dir+'Delhi_NO2.csv',index=False)

In [13]:
Indian_cities = pd.read_excel(r'E:\UR_Files\UR_Cap_Stone\github\Capstone_MacroX\India_cities_1.xlsx')
cities = list(Indian_cities['CITY'])

In [21]:
for city in cities:
    if city == 'Bhilai':
        continue
    open_weather_dir = 'E:/UR_Files/UR_Cap_Stone/github/Capstone_MacroX/Data_Openweathermap/raw_data/'
    open_weather_cur = pd.read_csv(open_weather_dir+city+"_raw.csv") 
    cur_20_21 = open_weather_cur[open_weather_cur.Date.between('2020-11-24','2021-12-31')]

    cur_NO2 = pd.DataFrame(columns = ['date','open_NO2','sate_NO2'])
    cur_NO2['open_NO2'] = list(cur_20_21['NO2'])
    cur_NO2['date'] = list(cur_20_21['Date'])
    if city == "Delhi":
        cur_NO2['sate_NO2'] = list(sate_NO2_20_21['NewDelhi'])
    elif city == "Mangalore":
        cur_NO2['sate_NO2'] = list(sate_NO2_20_21['Mangaluru'])
    elif city == "Puducherry":
        cur_NO2['sate_NO2'] = list(sate_NO2_20_21['Pondicherry'])
    else:
        cur_NO2['sate_NO2'] = list(sate_NO2_20_21[city])

    cur_SO2 = pd.DataFrame(columns = ['date','open_SO2','sate_SO2'])
    cur_SO2['open_SO2'] = list(cur_20_21['SO2'])
    cur_SO2['date'] = list(cur_20_21['Date'])
    if city == "Delhi":
        cur_SO2['sate_SO2'] = list(sate_SO2_20_21['NewDelhi'])
    elif city == "Mangalore":
        cur_SO2['sate_SO2'] = list(sate_SO2_20_21['Mangaluru'])
    elif city == "Puducherry":
        cur_SO2['sate_SO2'] = list(sate_SO2_20_21['Pondicherry'])
    else:
        cur_SO2['sate_SO2'] = list(sate_SO2_20_21[city])

    file_dir = "E:/UR_Files/UR_Cap_Stone/github/Capstone_MacroX/Missing Value/Cluster Fill/" 
    CurList = []
    for filename in os.listdir(file_dir):
        if filename.split('_')[1] == city:
            CurList.append(filename)
    for filename in CurList:
        cur_df = pd.read_csv(file_dir+filename)
        cur_df['date'] = pd.to_datetime(cur_df['From_Date'])
        cur_df_20_21 = cur_df[cur_df.date.between('2020-11-24','2021-12-31')]
        missing_date = []
        if len(cur_df_20_21) == len(cur_20_21):
            station = filename.split('_')[2].split('.')[0]
            cur_NO2[station] = list(cur_df_20_21['NO2'])
            cur_SO2[station] = list(cur_df_20_21['SO2'])
        else:
            missing_date.append(filename)
            print(len(missing_date))
    save_dir = 'E:/UR_Files/UR_Cap_Stone/github/Capstone_MacroX/combine_data_cluster/'
    cur_SO2.to_csv(save_dir+city+'_SO2.csv',index=False)
    cur_NO2.to_csv(save_dir+city+'_NO2.csv',index=False)

In [14]:
for city in cities:
    if city == 'Bhilai':
        continue
    open_weather_dir = 'E:/UR_Files/UR_Cap_Stone/github/Capstone_MacroX/Data_Openweathermap/raw_data/'
    open_weather_cur = pd.read_csv(open_weather_dir+city+"_raw.csv") 
    cur_20_21 = open_weather_cur[open_weather_cur.Date.between('2020-11-24','2021-12-31')]

    cur_NO2 = pd.DataFrame(columns = ['date','open_NO2','sate_NO2'])
    cur_NO2['open_NO2'] = list(cur_20_21['NO2'])
    cur_NO2['date'] = list(cur_20_21['Date'])
    if city == "Delhi":
        cur_NO2['sate_NO2'] = list(sate_NO2_20_21['NewDelhi'])
    elif city == "Mangalore":
        cur_NO2['sate_NO2'] = list(sate_NO2_20_21['Mangaluru'])
    elif city == "Puducherry":
        cur_NO2['sate_NO2'] = list(sate_NO2_20_21['Pondicherry'])
    else:
        cur_NO2['sate_NO2'] = list(sate_NO2_20_21[city])

    cur_SO2 = pd.DataFrame(columns = ['date','open_SO2','sate_SO2'])
    cur_SO2['open_SO2'] = list(cur_20_21['SO2'])
    cur_SO2['date'] = list(cur_20_21['Date'])
    if city == "Delhi":
        cur_SO2['sate_SO2'] = list(sate_SO2_20_21['NewDelhi'])
    elif city == "Mangalore":
        cur_SO2['sate_SO2'] = list(sate_SO2_20_21['Mangaluru'])
    elif city == "Puducherry":
        cur_SO2['sate_SO2'] = list(sate_SO2_20_21['Pondicherry'])
    else:
        cur_SO2['sate_SO2'] = list(sate_SO2_20_21[city])

    file_dir = "E:/UR_Files/UR_Cap_Stone/github/Capstone_MacroX/Missing Value/Distance Fill/" 
    CurList = []
    for filename in os.listdir(file_dir):
        if filename.split('_')[1] == city:
            CurList.append(filename)
    for filename in CurList:
        cur_df = pd.read_csv(file_dir+filename)
        cur_df['date'] = pd.to_datetime(cur_df['From_Date'])
        cur_df_20_21 = cur_df[cur_df.date.between('2020-11-24','2021-12-31')]
        missing_date = []
        if len(cur_df_20_21) == len(cur_20_21):
            station = filename.split('_')[2].split('.')[0]
            cur_NO2[station] = list(cur_df_20_21['NO2'])
            cur_SO2[station] = list(cur_df_20_21['SO2'])
        else:
            missing_date.append(filename)
            print(len(missing_date))
    save_dir = 'E:/UR_Files/UR_Cap_Stone/github/Capstone_MacroX/combine_data_distance/'
    cur_SO2.to_csv(save_dir+city+'_SO2.csv',index=False)
    cur_NO2.to_csv(save_dir+city+'_NO2.csv',index=False)