In [1]:
import pandas as pd
import numpy as np

satellite_NO2 = pd.read_csv(r'E:\UR_Files\UR_Cap_Stone\github\Capstone_MacroX\satellite_data\satellite_data_NO2_India.csv')

In [8]:
satellite_NO2['date']=pd.to_datetime(satellite_NO2['date'],errors='coerce')
satellite_NO2=satellite_NO2.sort_values(by='date')

In [10]:
NO2_18_21 = satellite_NO2[satellite_NO2.date.between('2018-01-01','2021-12-31')].replace(-1.27E+30,np.NaN)
from sklearn.impute import KNNImputer
from sklearn.preprocessing import MinMaxScaler

#Define a subset of the dataset
df_knn = NO2_18_21.filter(NO2_18_21.columns[2:].tolist(), axis=1).copy()

# Define scaler to set values between 0 and 1
df_knn = pd.DataFrame(df_knn, columns = df_knn.columns)

# Define KNN imputer and fill missing values
knn_imputer = KNNImputer(n_neighbors=5, weights='uniform', metric='nan_euclidean')
df_knn_imputed_NO2 = pd.DataFrame(knn_imputer.fit_transform(df_knn), columns=df_knn.columns)
df_knn_imputed_NO2.insert(loc=0, column='date', value=NO2_18_21.date.tolist())

df_knn_imputed_NO2

df_knn_imputed_NO2.to_csv(r'E:\UR_Files\UR_Cap_Stone\github\Capstone_MacroX\processed_satellite_data\processed_satellite_NO2.csv', index=False)

In [12]:
satellite_SO2 = pd.read_csv(r'E:\UR_Files\UR_Cap_Stone\github\Capstone_MacroX\satellite_data\satellite_data_SO2_India.csv')
satellite_SO2['date']=pd.to_datetime(satellite_SO2['date'],errors='coerce')
satellite_SO2=satellite_SO2.sort_values(by='date')
SO2_18_21 = satellite_SO2[satellite_SO2.date.between('2018-01-01','2021-12-31')].replace(-1.27E+30,np.NaN)
from sklearn.impute import KNNImputer
from sklearn.preprocessing import MinMaxScaler

#Define a subset of the dataset
df_knn = SO2_18_21.filter(SO2_18_21.columns[2:].tolist(), axis=1).copy()

# Define scaler to set values between 0 and 1
df_knn = pd.DataFrame(df_knn, columns = df_knn.columns)

# Define KNN imputer and fill missing values
knn_imputer = KNNImputer(n_neighbors=5, weights='uniform', metric='nan_euclidean')
df_knn_imputed_SO2 = pd.DataFrame(knn_imputer.fit_transform(df_knn), columns=df_knn.columns)
df_knn_imputed_SO2.insert(loc=0, column='date', value=SO2_18_21.date.tolist())

df_knn_imputed_SO2

df_knn_imputed_SO2.to_csv(r'E:\UR_Files\UR_Cap_Stone\github\Capstone_MacroX\processed_satellite_data\processed_satellite_SO2.csv', index=False)

In [13]:
satellite_PM25 = pd.read_csv(r'E:\UR_Files\UR_Cap_Stone\github\Capstone_MacroX\satellite_data\satellite_data_blackCarbon_India.csv')
satellite_PM25['date']=pd.to_datetime(satellite_PM25['date'],errors='coerce')
satellite_PM25=satellite_PM25.sort_values(by='date')
PM25_18_21 = satellite_PM25[satellite_PM25.date.between('2018-01-01','2021-12-31')]
from sklearn.impute import KNNImputer
from sklearn.preprocessing import MinMaxScaler

#Define a subset of the dataset
df_knn = PM25_18_21.filter(PM25_18_21.columns[2:].tolist(), axis=1).copy()

# Define scaler to set values between 0 and 1
df_knn = pd.DataFrame(df_knn, columns = df_knn.columns)

# Define KNN imputer and fill missing values
knn_imputer = KNNImputer(n_neighbors=5, weights='uniform', metric='nan_euclidean')
df_knn_imputed_PM25 = pd.DataFrame(knn_imputer.fit_transform(df_knn), columns=df_knn.columns)
df_knn_imputed_PM25.insert(loc=0, column='date', value=PM25_18_21.date.tolist())

df_knn_imputed_PM25

df_knn_imputed_PM25.to_csv(r'E:\UR_Files\UR_Cap_Stone\github\Capstone_MacroX\processed_satellite_data\processed_satellite_PM25.csv', index=False)

In [ ]:
# NO2_18_21.date

In [11]:
da = pd.read_csv(r'E:\UR_Files\UR_Cap_Stone\github\Capstone_MacroX\processed_satellite_data\processed_satellite_PM25.csv')
da[:16]

,date,Agartala,Agra,Aizwal,Amritsar,Asansol,Aurangabad,Bareilly,Belgaum,Bengaluru,...,Pondicherry,Prayagraj,Pune,Shillong,Solapur,Srinagar,Thiruvananthapuram,Varanasi,Vijaywada,Visakhapatnam
0,2018-01-01,8.280000e-09,6.130000e-09,2.410000e-09,5.420000e-09,9.150000e-09,2.820000e-09,6.360000e-09,3.050000e-09,2.490000e-09,...,2.110000e-09,6.760000e-09,3.070000e-09,3.290000e-09,3.230000e-09,5.970000e-10,2.510000e-09,8.810000e-09,3.810000e-09,3.280000e-09
1,2018-02-01,4.100000e-09,2.780000e-09,2.460000e-09,2.280000e-09,4.330000e-09,1.760000e-09,2.330000e-09,1.480000e-09,1.240000e-09,...,8.540000e-10,2.500000e-09,1.690000e-09,2.770000e-09,1.710000e-09,3.220000e-10,1.220000e-09,2.960000e-09,1.540000e-09,1.560000e-09
2,2018-03-01,2.860000e-09,2.010000e-09,4.750000e-09,1.640000e-09,3.390000e-09,1.650000e-09,1.740000e-09,1.590000e-09,1.580000e-09,...,1.000000e-09,1.880000e-09,1.630000e-09,2.580000e-09,1.730000e-09,2.290000e-10,1.180000e-09,2.210000e-09,1.690000e-09,1.750000e-09
3,2018-04-01,1.950000e-09,1.850000e-09,1.300000e-09,1.350000e-09,2.750000e-09,7.850000e-10,1.690000e-09,7.840000e-10,1.040000e-09,...,3.730000e-10,1.610000e-09,8.150000e-10,1.240000e-09,9.850000e-10,2.010000e-10,8.090000e-10,1.860000e-09,6.830000e-10,6.200000e-10
4,2018-05-01,1.040000e-09,1.800000e-09,4.820000e-10,1.400000e-09,2.330000e-09,5.630000e-10,1.720000e-09,5.090000e-10,1.190000e-09,...,4.820000e-10,1.610000e-09,5.420000e-10,7.780000e-10,6.580000e-10,2.250000e-10,4.470000e-10,2.010000e-09,6.150000e-10,4.590000e-10
5,2018-06-01,9.680000e-10,1.370000e-09,3.520000e-10,1.320000e-09,2.410000e-09,4.040000e-10,1.240000e-09,3.110000e-10,5.940000e-10,...,8.080000e-10,1.060000e-09,3.630000e-10,6.800000e-10,4.530000e-10,2.260000e-10,4.240000e-10,1.280000e-09,7.490000e-10,5.890000e-10
6,2018-07-01,6.790000e-10,1.450000e-09,2.370000e-10,1.450000e-09,2.110000e-09,3.430000e-10,1.340000e-09,2.030000e-10,4.750000e-10,...,8.220000e-10,1.140000e-09,2.300000e-10,5.680000e-10,2.700000e-10,2.360000e-10,5.470000e-10,1.220000e-09,6.860000e-10,5.670000e-10
7,2018-08-01,7.790000e-10,1.600000e-09,2.970000e-10,1.420000e-09,2.210000e-09,3.440000e-10,1.580000e-09,2.080000e-10,4.720000e-10,...,7.980000e-10,1.400000e-09,2.440000e-10,6.640000e-10,2.700000e-10,2.180000e-10,6.100000e-10,1.670000e-09,8.480000e-10,5.760000e-10
8,2018-09-01,1.500000e-09,1.740000e-09,5.620000e-10,1.540000e-09,2.870000e-09,7.210000e-10,1.890000e-09,5.940000e-10,9.300000e-10,...,7.660000e-10,1.460000e-09,6.620000e-10,9.490000e-10,7.380000e-10,2.450000e-10,7.460000e-10,1.750000e-09,1.230000e-09,9.120000e-10
9,2018-10-01,2.450000e-09,3.260000e-09,8.400000e-10,3.110000e-09,3.280000e-09,1.390000e-09,3.080000e-09,1.600000e-09,1.320000e-09,...,9.150000e-10,2.450000e-09,1.580000e-09,1.220000e-09,1.530000e-09,3.220000e-10,1.200000e-09,2.880000e-09,1.650000e-09,1.420000e-09
10,2018-11-01,3.090000e-09,6.210000e-09,1.030000e-09,4.460000e-09,5.670000e-09,1.920000e-09,5.400000e-09,1.600000e-09,1.200000e-09,...,9.800000e-10,6.050000e-09,1.840000e-09,1.540000e-09,1.840000e-09,4.300000e-10,1.590000e-09,6.630000e-09,1.580000e-09,1.650000e-09
11,2018-12-01,3.480000e-09,6.930000e-09,8.140000e-10,6.440000e-09,7.090000e-09,2.660000e-09,6.430000e-09,2.000000e-09,1.880000e-09,...,1.700000e-09,7.090000e-09,2.350000e-09,1.420000e-09,2.430000e-09,4.190000e-10,2.130000e-09,8.050000e-09,3.080000e-09,3.040000e-09
12,2019-01-01,4.150000e-09,5.510000e-09,1.300000e-09,3.450000e-09,7.100000e-09,2.600000e-09,4.980000e-09,2.380000e-09,2.030000e-09,...,1.730000e-09,6.130000e-09,2.570000e-09,1.950000e-09,2.830000e-09,3.340000e-10,1.670000e-09,7.430000e-09,4.030000e-09,3.830000e-09
13,2019-02-01,3.400000e-09,3.590000e-09,1.680000e-09,2.670000e-09,4.120000e-09,1.640000e-09,2.810000e-09,1.280000e-09,1.300000e-09,...,8.190000e-10,3.030000e-09,1.490000e-09,2.210000e-09,1.570000e-09,3.050000e-10,1.040000e-09,3.410000e-09,1.700000e-09,1.710000e-09
14,2019-03-01,2.460000e-09,1.880000e-09,3.100000e-09,1.680000e-09,3.240000e-09,8.610000e-10,1.420000e-09,9.460000e-10,1.060000e-09,...,5.260000e-10,1.650000e-09,9.280000e-10,2.100000e-09,1.090000e-09,2.170000e-10,8.950000e-10,1.810000e-09,8.050000e-10,8.080000e-10
15,2019-04-01,1.750000e-09,1.750000e-09,1.320000e-09,1.180000e-09,2.670000e-09,7.180000e-10,1.720000e-09,7.220000e-10,1.070000e-09,...,3.840000e-10,1.690000e-09,7.740000e-10,1.330000e-09,9.410000e-10,1.940000e-10,7.930000e-10,2.080000e-09,6.930000e-10,6.550000e-10

In [12]:
da1 = pd.read_csv(r"E:\UR_Files\UR_Cap_Stone\github\Capstone_MacroX\Missing Value\Cluster Fill\Delhi_Delhi_Anand Vihar, Delhi - DPCC.csv")
da1[:16]

           From_Date           To_Date   PM2.5     NO2    SO2    CO
0   01-01-2018 00:00  02-01-2018 00:00  488.62   87.65  21.69  3.72
1   02-01-2018 00:00  03-01-2018 00:00  360.76   83.98  23.63  3.93
2   03-01-2018 00:00  04-01-2018 00:00  288.57   87.43  20.43  2.12
3   04-01-2018 00:00  05-01-2018 00:00  352.22   92.08  21.95  1.28
4   05-01-2018 00:00  06-01-2018 00:00  305.94   82.24  21.69  2.67
5   06-01-2018 00:00  07-01-2018 00:00  324.43  123.86  22.34  3.54
6   07-01-2018 00:00  08-01-2018 00:00  244.64  104.59  21.55  2.74
7   08-01-2018 00:00  09-01-2018 00:00  177.40  129.12  23.50  3.35
8   09-01-2018 00:00  10-01-2018 00:00  373.14  138.93  23.49  3.82
9   10-01-2018 00:00  11-01-2018 00:00  246.40  109.23  23.07  2.76
10  11-01-2018 00:00  12-01-2018 00:00  203.02  106.37  23.39  4.49
11  12-01-2018 00:00  13-01-2018 00:00  235.63  128.18  30.31  2.36
12  13-01-2018 00:00  14-01-2018 00:00  378.93  137.78  24.67  4.90
13  14-01-2018 00:00  15-01-2018 00:00  302.92  123.09  24.67  2.73
14  15-01-2018 00:00  16-01-2018 00:00  240.90  101.05  20.80  1.83
15  16-01-2018 00:00  17-01-2018 00:00  163.43  113.00  27.87  2.06